body {
    font-family:"Segoe UI", "Roboto", sans-serif;
    color: #666756;
    font-weight: 300;
}

.text-muted {
    color: #BCBBBB;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-family:"Segoe UI", "Roboto", sans-serif;
    font-size: 4em;
}

.title-logo {
    margin-top: 20px;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
}
.main-img {
    object-fit: none;
    height: 350px;
    width: 1150px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: transparent; color: black;
}

.fa-twitter {
  background: transparent; color: black;
}

.fa-google {
  background: transparent; color: black;
}

.fa-linkedin {
  background: transparent; color: black;
}

.fa-youtube {
  background: transparent; color: black;
}

.fa-instagram {
  background: transparent; color: black;
}

.fa-pinterest {
  background: transparent; color: black;
}

.fa-snapchat-ghost {
  background: transparent; color: black;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: transparent; color: black;
}

.fa-android {
  background: transparent; color: black;
}

.fa-dribbble {
  background: transparent; color: black;
}

.fa-vimeo {
  background: transparent; color: black;
}

.fa-tumblr {
  background: transparent; color: black;
}

.fa-vine {
  background: transparent; color: black;
}

.fa-foursquare {
  background: transparent; color: black;
}

.fa-stumbleupon {
  background: transparent; color: black;
}

.fa-flickr {
  background: transparent; color: black;
}

.fa-yahoo {
  background: transparent; color: black;
}

.fa-soundcloud {
  background: transparent; color: black;
}

.fa-reddit {
  background: transparent; color: black;
}

.fa-rss {
  background: transparent; color: black;
}
