body {
    font-family: 'Roboto', sans-serif;
    /* color: #24292e;
    font-weight: 300;
    margin: auto;
    text-align: center;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word; */
}

ul {
    list-style-position: inside;
    list-style-type: circle;
    padding-left: 0px;
}

.text-car {
  color: black;
  opacity: 0.75;
}

.text-car-sec {
  font-size: 1em;
}

.car {
  padding-left: 0px;
  padding-right: 0px;
}

.carousel-bg {
  background-color: black;
  opacity: 0.6;
}

.carousel-img {
  /* height: 100vh; */
  width: 100%;
  object-fit: contain;
}

.jumbotron {
  padding-top: 72px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.link-white {
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', sans-serif;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 300;
  line-height: 1.25;
}

.logo {
  max-width: 50%;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

a {
  color: grey;
}

a:hover {
  opacity: 0.7;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook, .fa-twitter, .fa-google, .fa-linkedin, .fa-youtube, .fa-instagram,
.fa-pinterest, .fa-snapchat-ghost, .fa-skype, .fa-android, .fa-dribbble,
.fa-vimeo, .fa-tumblr, .fa-vine, .fa-foursquare, .fa-stumbleupon, .fa-flickr,
.fa-yahoo, .fa-soundcloud, .fa-reddit, .fa-rss,
 {
  background: transparent; color: black;
}
