body {
    font-family: 'Roboto', sans-serif;
    color: #666756;
    font-weight: 300;
}

.text-muted {
    color: #BCBBBB;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 4em;
}

.title-logo {
    margin-top: 20px;
}

.img-center {
    margin-left: auto;
    margin-right: auto;
}
.main-img {
    object-fit: none;
    height: 350px;
    width: 1150px;
}
